name: My CICI pipeline
on:
  release:
    types: [published]
    tags: 
    -v1.*
jobs:
  test_and_upload:
    runs-on: ubuntu-latest

    steps:
    #https://github.com/marketplace/actions/checkout
    - name: Checkout
      uses: actions/checkout@v3

    #https://github.com/marketplace/actions/docker-login
    - name: Docker Login
      uses: docker/login-action@v2
      with:  
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    #https://github.com/marketplace/actions/docker-setup-buildx
    - name: Docker installation
      uses: docker/setup-buildx-action@v2
    
    #https://github.com/marketplace/actions/build-and-push-docker-images
    - name: Docker build and push
      uses: docker/build-push-action@v3
      with: 
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/randimg:${{ github.ref_name }}

    #https://github.com/marketplace/actions/slack-send
    - name: end custom JSON data to Slack workflow
      uses: slackapi/slack-github-action@v1.18.0
      with: 
        payload:
        {
          "text": "${{secrets.SLACK_MSG}} \nRepo: ${{ github.repositoryUrl }}\nImage name: e0941863/randnum:${{github.ref_name}}\nImage url: https://hub.docker.com/repository/docker/e0941863/randnum"
        } 
      env:
        SSLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK